<ion-view title="Dishes">
  <ion-content>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="item item-divider">
            Pizza
          </div>
          <div class="item item-text-wrap">
            <div class="image">
              <img src="http://lorempixel.com/400/140/food"/>
            </div>
            <p>Description: Delicous food</p>
            <p>Ready for pick-up </p>
            <p>at 18:00 </p>
            <p>Price: $9.00</p>
            <p>10 portions left </p>
            <button class="button button-full button-calm">
              Add dish to order
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
